[card-header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

[card-footer] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
